<nav class="navbar navbar-static-top navbar-inverse nav-score-party">
  <div class="container-fluid">
      <div class="navbar-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="logo-img" src="../../../assets/images/logo.png" />
        </div>
        <div uib-collapse="navCollapsed" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a ui-sref="games">mes parties</a></li>
            <li><a ui-sref="friends_games">les parties de mes amis</a></li>
            <li><a ui-sref="new_game">Nouvelle partie</a></li>
          </ul>
          <button class="btn btn-primary btn-logout" ng-click="handleSignOutBtnClick()"><img src="../../assets/images/logout.png"/> Se deconnecter </button>
        </div>
      </div>
  </div>
</nav>
