<div class="container">

  <div class="jumbotron text-center">
    <div class="panel panel-default panel-login">
      <div class="panel-heading">ScoreParty</div>
      <div class="panel-body">

        <label>user signed in?</label>
        <p>{{ user.signedIn ? "true" : "false" }}</p>
        <p ng-if="user.signedIn"> bonjour <strong>{{ user.name}} </strong></p>

        <!-- sign in form -->

        <button class="btn btn-primary"  ng-click="handleFbBtnClick()" ng-if="!user.signedIn">
          Se connecter avec Facebook
        </button>
        <span>recommanded</span>
        <!-- sign out button -->
        <!---->

      </div>
    </div>
  </div>
